a{
    list-style: none;
    text-decoration: none;
}

.pseudo-contain-one, .pseudo-contain-two{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    font-family: "Circe", sans-serif;
}
.container{
    font-family: "Gilaim", sans-serif;
}