* {
    *:: before;
    *:: after;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 25px auto;
    height: 100%;
    background: #171717;
}
.container{
    background-image: url("../images/header.jpeg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    width: 216px;
    height: 33px;
}

.header-contacts{
    justify-content: flex-end;

}
.number-phone{
    font-weight: 700;
    color: #fff;
}
span{
    color: rgb(214, 175, 118);
}

.back-call{
    padding: 10px 25px;
    font-weight: 400;
    margin-left: 20px;
    color: rgb(228, 181, 100);
    border: 1px solid rgb(228, 181, 100);
}
.img-phone{
    width: 12px;
    height: 12px;
    margin-right: 10px;

}

.first-block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 400px 400px;
    gap: 20px;
    margin-top: 41px;


}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;

}

.first-description{
    display: block;
    margin-top: 128px;
    color: #FFFFFF;
    /*width: 599px;*/
    /*height: 28px;*/

}

.pic-1{
    grid-area: 1 / 1 / 2 / 3;
    background: #634f2c;


}
.pic-2{
    grid-area: 1 / 3 / 2 / 5;
    background: #B4A385;

}
.pic-3{
    grid-area: 1 / 5 / 2 / 7;
    background: #E4B564;
}
.pic-4{
    /*grid-area: 2 / 1 / 3 / 4;*/
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    background: #635A4A;
}
.pic-5{
    grid-area: 2 / 4 / 3 / 7;
    background: #B08C4D;
}

.description-two{
    margin-top: 161px;
    color: #fff;
    line-height: 28px;
    font-weight: bold;
}
.next-block-two{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 20px;
    margin-top: 94px;

}

.cell{
    color: #FFFFFF;
    padding: 45px;
}

.item-1{
    grid-area: 1 / 1 / 3 / 2;
    background: #0E0E0E;

}
.item-2{
    grid-area: 1 / 2 / 4 / 3;
    background: #242424;

}
.item-3{
    grid-area: 1 / 3 / 3 / 4;
    background: #1F1F1F;

}
.item-4{
    grid-area: 3 / 1 / 7 / 2;
    background: #1F1F1F;

}
.item-5{
    grid-area: 4 / 2 / 7 / 3;
    background: #E4B564;
    color: #000;

}
.item-6{
    grid-area: 3 / 3 / 5 / 4;
    background: #0E0E0E;
}

.item-7{
    grid-area: 5 / 3 / 7 / 4;
    background: #0A0909;
}

.second-container{
    background-image: url("../images/parallax.jpeg");
    background-size: 100vw 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.description-three {
    display: flex;
    justify-content: space-between;
    margin-top: 191px;
    color: #fff;
    margin-bottom: 72px;
    align-items: center;
}


.projects{
    font-size: 18px;
    padding: 15px 30px;
    color: rgb(228, 181, 100);
    border: 1px solid #E4B564;



}

.next-block-three{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 350px);
    position: relative;

}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF
}
.element .img{
    transition: 0.5s;
    transform: translateY(60px);

}
.element p{
    transition: 0.5s;
    transform: translateY(-60px);
    opacity: 0;
    visibility: hidden;
}
.element:hover .img{
    transform: translateY(-30px);
}
.element:hover p{
    transform: translateY(30px);
    opacity: 1;
    visibility: visible;
}
.parts-1{
    background: #634F2C;
}
.brand-name-1{
    width: 185px;
    height: 49px;
}
.parts-2{
    background: #E8D2AB;
}
.brand-name-2{
    width: 139px;
    height: 118px;
}


.parts-3{
   background: #E4B564;
}
.brand-name-3{
    width: 190px;
    height: 42px;
}
.parts-4{
    background: #635A4A;

}
.brand-name-4{
    width: 190px;
    height: 42px;
}
.parts-5{
    background: #B08C4D;
}
.brand-name-5{
    width: 119px;
    height: 53px;
}
.parts-6{
   /* background: #634F2C; */
   background: black;
}
.brand-name-6{
    width: 185px;
    height: 49px;
}

